.gameHeader {
  /* position: absolute; */
  background-color: lightyellow;
  margin: 2rem;
  height: 10vh;
  width: 70vw;
  border-radius: 10px;
}

.gameName {
  position: absolute;
  margin: 1rem;
}
