.gameHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;
  margin: 1rem 2rem;
  height: 10vh;
  border-radius: 10px;
}

.gameName {
  margin: auto;
  font-family: "Londrina Outline", cursive;
}
