.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;
  margin: 2rem;
  height: 70vh;
  border-radius: 10px;
}

.usernameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
#newPlayer {
  padding: 10px;
  margin: 20px;
}
.new-player-label {
  font-size: 20px;
  font-family: ;
}
.find-me-btn,
.play-btn,
.exit-btn {
  background-color: #008cba;
  border-radius: 9px;
  color: white;
  font-size: 20px;
  border: 0px solid;
  padding: 10px 20px;
  box-shadow: 0 5px 3px #a9a9a9;
  width: 150px;
}
.find-me-btn:hover,
.play-btn:hover,
.exit-btn:hover {
  cursor: pointer;
}

.find-me-btn:active,
.play-btn:active,
.exit-btn:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px #a9a9a9;
  transform: translateY(3px);
}
