.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;
  margin: 2rem;
  height: 70vh;
  border-radius: 10px;
}

.usernameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
