.background {
  min-height: 100vh;
  background-image: url("bg-clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
